<form action="/" method="post">
    <label>Product:</label>
    <input name="name">
    <label>Price:</label>
    <input name="price">
    <label>Image:</label>
    <input type="file" name="file">
    <input type="submit" id="button">
</form>
 